.App {
  text-align: center;
}

.bar{
  width: 100vw;
  height: 8vh;
   border: 5px solid red;
}
.d1{
  width: 100vw;
  height: 30vh;
   border: 5px solid red;
}
.recap{
  width: 100vw;
  height: 24vh;
  border: 5px solid red;
}

.actions{
  display: flex ; 
  flex-direction: row ;
  width: 100vw;
  height: 30vh;
  border: 5px solid gold;
  justify-content: center;
 /* padding: 2.5% ; */
 /* align-content: space-between ;  */
}
.action{
  background-color: #f1f1f1;
  margin-left: 10px;
  text-align: center;
  width: 30%; 
}

.camorshal{
  width: 100vw;
  height: 8vh;
  border: 1px solid red;
}
