
.App { 
 /* text-align: center; */
 /* height: 100vh; */
 margin: 0px; 
 height: 10vh; 
 min-height: 100%; 
 } 

.time { 
 height: 2.5%; background-color: red; 
 top:0; 
 width: 100%; 
 } 
 .homeButton { 
 height: 5.5%; 
 background-color: red; 
 width: 100%; 
 margin-top: 3%; 

 /* position: fixed;  */
 } 
 .camorshal { 
 height: 100%; 
 } 